<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/basic.js"></script>
    <script src="/js/schedule.js"></script>
    <script src="/js/file.js"></script>
    <script src="/js/comment.js"></script>
    <title>일정</title>
</head>
<body>
<div class="header" style="position:relative;">
    <!--headr-->
    <div id="header-title-login-user">
        <span id="username">익명</span> 님의
    </div>
    <div id="header-title-select-shop">
        일정
    </div>
    <a id="login-text" href="javascript:logout()">
        로그아웃
    </a>
    <!--/headr-->
</div>
<div class="nav">
    <div class="nav-see active">
        전체
    </div>
    <div class="nav-search">
        검색하기
    </div>
    <div class="nav-user">
        나의 일정
    </div>
</div>
<div id="see-area">
    <div class="pagination">
        정렬:
        <select id="see-sorting" onchange="showschedule()">
            <option value="id">ID</option>
            <option value="title">일정 제목</option>
        </select>
        <input type="radio" name="see-isAsc" value="true" onchange="showschedule()" checked/> 오름차순
        <input type="radio" name="see-isAsc" value="false" onchange="showschedule()"/> 내림차순
    </div>
    <div id="see-pagination" class="pagination"></div>
    <br>
    <div id="see-result-box"></div>
</div>

<div id="search-area">
    <div class="pagination">
        정렬:
        <select id="search-sorting" onchange="showschedule()">
            <option value="id">ID</option>
            <option value="title">일정 제목</option>
        </select>
        <input type="radio" name="search-isAsc" value="true" onchange="showschedule()" checked/> 오름차순
        <input type="radio" name="search-isAsc" value="false" onchange="showschedule()"/> 내림차순
    </div>
    <div>
        <input type="text" id="query">
    </div>
    <div id="search-pagination" class="pagination"></div>
    <br>
    <div id="search-result-box"></div>
</div>

<div id="user-area">
    <div class="folder-bar folder-black">
        <div>
            <button id="folder-all" class="folder-bar-item folder-button product-folder folder-active" onclick="openFolder()">전체</button>
        </div>
        <div id="fragment">
            <div th:each="folder : ${folders}">
                <button class="folder-bar-item folder-button product-folder"
                        th:value="${folder.id}"
                        th:utext="${folder.name}"
                        th:attr="onclick=|openFolder(${folder.id})|">
                </button>
            </div>
        </div>
        <div>
            <button id="folder-add" class="folder-bar-item folder-button product-folder" onclick="openAddFolderPopup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path d="M.5 3l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                    <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </button>
        </div>
        <div class="none" id="folder-delete-box">
            <button type="button" class="schedule-btn" id="folder-delete-btn" value="" onclick="deleteFolder()"></button>
        </div>
    </div>
    <div class="pagination">
        <button class="schedule-btn" onclick="openAddSchedulePopup()">일정 추가</button>
        정렬:
        <select id="sorting" onchange="showschedule()">
            <option value="id">ID</option>
            <option value="title">일정 제목</option>
        </select>
        <input type="radio" name="isAsc" value="true" onchange="showschedule()" checked/> 오름차순
        <input type="radio" name="isAsc" value="false" onchange="showschedule()"/> 내림차순
    </div>
    <div id="pagination" class="pagination"></div>
    <br>
    <div id="schedule-container">
    </div>
    <!-- 폴더 추가 팝업 -->
    <div id="container2" class="popup-container">
        <div class="popup" style="width:410px; height:auto">
            <button id="close2" class="close">
                X
            </button>
            <h1>🗂 폴더 추가하기</h1>
            <p>폴더를 추가해서 관심상품을 관리해보세요!</p>
            <div id="folders-input">
                <input type="text" class="folderToAdd" placeholder="추가할 폴더명">
            </div>
            <div onclick="addFolderInput()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                    <path d="M.5 3l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                    <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </div>
            <button id="add-folder-btn" class="cta2" onclick="addFolder()">추가하기</button>
        </div>
    </div>
    <!-- 일정 추가 팝업 -->
    <div id="container3" class="popup-container">
        <div class="popup" style="width:410px; height:auto">
            <button id="close3" class="close">
                X
            </button>
            <h1>📋 일정 추가하기</h1>
            <p>일정을 입력하세요.</p>
            <div id="schedule-input">
                <input type="text" placeholder="일정 제목을 입력해주세요" name="title" id="title">
                <textarea class="field" placeholder="일정 내용을 입력해주세요" name="content" id="content" cols="30"
                          rows="10"></textarea>
            </div>
            <tr>
                <td colspan="3">
                    <div class="file_list">
                        <div>
                            <div class="file_input">
                                <div style="margin: 10px">
                                    <span>첨부파일</span>
                                    <button type="button" onclick="addFile();" class="btns fn_add_btn schedule-btn"><span>파일 추가</span></button>
                                </div>
                                <label>
                                    <input type="file" id="files" name="files" onchange="selectFile(this);" multiple/>
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <button id="add-schedule-btn" class="cta2" onclick="addSchedule()">추가하기</button>
        </div>
    </div>
</div>

<!-- 일정 수정 팝업 -->
<div id="container4" class="popup-container">
    <div class="popup" style="width:410px; height:auto">
        <button id="close4" class="close">
            X
        </button>
        <h1>📋 일정 수정하기</h1>
        <p>일정을 입력하세요.</p>
        <div id="modSchedule-input">
            <input type="hidden" id="scheduleId" value="">
            <input type="text" placeholder="일정 제목을 입력해주세요" name="title" id="modTitle">
            <textarea class="field" placeholder="일정 내용을 입력해주세요" name="content" id="modContent" cols="30"
                      rows="10"></textarea>
        </div>
        <button id="mod-schedule-btn" class="cta2" onclick="ModSchedule()">수정하기</button>
    </div>
</div>

<input type="hidden" id="admin"/>
</body>
</html>